body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(219, 219, 219);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  width: 100%;
  background-color: rgb(94, 139, 3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
}
.link {
  padding: 20px 10px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}
.link:hover {
  background-color: black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.content h3 {
  text-align: center;
  border: 2px dashed rgb(59, 87, 3);
  padding: 8px;
  margin-bottom: 30px;
}
.content input {
  margin-right: 10px;
  border-radius: 50px;
  border: 1px solid black;
  padding: 10px;
  width: 200px;
}
.add-btn {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgb(130, 194, 3);
}
.content button:hover {
  background-color: rgb(168, 250, 4);
  border: 1px solid white;
}
.ul-todo {
  background-color: rgb(160, 161, 161);
  width: 60%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.ul-todo li {
  background-color: rgb(168, 250, 4);
  margin: 10px;
  padding: 10px;
}
.delete {
  float: right;
  background-color: black;
}
.delete:hover {
  background-color: rgb(160, 161, 161);
  cursor: pointer;
}
footer {
  height: 40px;
  background-color: rgb(94, 139, 3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}
