body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(125, 124, 123);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  display: flex;
  align-items: center;
  background-color: rgb(35, 34, 34);
  height: 80px;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.App {

  color: rgb(168, 250, 4);
}
footer {
  height: 40px;
  background-color: rgb(35, 34, 34);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}
